<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robert.dao.UserDao">
    <select id="getSingleUser" resultType="com.robert.bean.User" parameterType="int">
        select * from user where id=#{id}
    </select>

<insert id="addUser" parameterType="com.robert.bean.User">
	insert into user (name,userKey) values (#{user.name},#{user.userKey}) 
</insert>
</mapper>